@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
} */

@layer base {
  :root {
    --background: 215 55% 99%;
    --foreground: 215 60% 4%;
    --muted: 185 23% 86%;
    --muted-foreground: 185 2% 37%;
    --popover: 215 55% 98%;
    --popover-foreground: 215 60% 3%;
    --card: 215 55% 98%;
    --card-foreground: 215 60% 3%;
    --border: 215 5% 91%;
    --input: 215 5% 91%;
    --primary: 215 54% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 54% 53%;
    --secondary-foreground: 185 54% 13%;
    --accent: 245 54% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 82% 34%;
    --destructive-foreground: 3 82% 94%;
    --ring: 215 54% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 50% 4%;
    --foreground: 215 23% 97%;
    --muted: 185 23% 14%;
    --muted-foreground: 185 2% 63%;
    --popover: 215 50% 5%;
    --popover-foreground: 215 23% 98%;
    --card: 215 50% 5%;
    --card-foreground: 215 23% 98%;
    --border: 215 5% 15%;
    --input: 215 5% 15%;
    --primary: 215 54% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 54% 53%;
    --secondary-foreground: 185 54% 13%;
    --accent: 245 54% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 82% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 215 54% 53%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}